{% extends "../apptemp.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<!-- ======= Header ======= -->
{% block nav %}{% include './maintemp.html' %}{% endblock nav %}
<main id="main" class="main">
<div class="pagetitle">
    <h1>Renew Contract for {{ emp.first_name }} {{ emp.last_name }}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Renew Contract for {{ emp.first_name }} {{ emp.last_name }}</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <div class="row">
    <div class="col-lg-12">

        <div class="card">
        <div class="card-body">
            <h5 class="card-title">New Contract for {{ emp.first_name }} {{ emp.last_name }}</h5>

            {% if img_obj %}
              <h3>Succesfully uploaded : {{img_obj.title}}</h3>
              <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
            {% endif %}

            <!-- General Form Elements -->
            <form action="{% url 'Contract' serial=serial %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Contract Type</label>
                <div class="col-sm-10">
                  {{ form.contracttype|attr:"autocomplete:off"|add_class:"form-control" }}
                  <!--<input type="text" class="form-control"> -->
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">{{form.contract_start.label_tag}}</label>
                <div class="col-sm-10">
                  {{ form.contract_start|attr:"autocomplete:off"|add_class:"form-control" }}
                  <!--<input type="text" class="form-control"> -->
                </div>
              </div>
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Add Contract</button>
              </div>
            </form><!-- End General Form Elements -->

        </div>
        </div>

        </div>
    </div>
 
</main>
{% endblock %}